$text-red: #d12136;
$text-white: #ffffff;
$text-light-black: #1a212f;
$text-black: #000000;
$text-gray: #48494d;
$bg-white: #ffffff;
$bg-gray: #f5f5f9;
$bg-red: #d12136;
$bg-dark-gray: #bdbec2;
$button-red: #d12136;
$button-dark-red: #bd0c21;
$button-white: #ffffff;
$button-gray: #9f9e9e;
$border-gray: #d7d9df;
$border-black: #000000;
$border-red: #d12136;
