.car-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.car-nav__item {
  min-width: 167px;
  padding: 10px 13px 11px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  border: 1px solid $border-gray;
  cursor: pointer;

  &:hover:not(.car-nav__item--active) {
    background-color: rgba($bg-red, 0.1);
  }

  &--active {
    padding: 11px 14px 11px;
    background-color: $bg-red;
    color: $text-white;
    border: none;
    cursor: default;
  }
}

.car-nav__button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: inherit;
}
